<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MercuryTours">
	<listeners>
		<listener class-name="com.mercury_tours.utilities.Reporting"/>
	</listeners>
	
	<test name="Mercury Tours Test">
	<parameter name="browser" value="chrome"/>
	<!-- <parameter name="browser" value="firefox"/> -->
	<classes>
	<!-- <class name="com.mercury_tours.testCases.TC_SignOn_001"/> -->
	<class name="com.mercury_tours.testCases.TC_SignOnDDT_002"/>
	  <!--  <class name="com.mercury_tours.testCases.TC_RegisterDDT_003"/> --> 
	 <class name="com.mercury_tours.testCases.TC_Register_004"/>
	<class name="com.mercury_tours.testCases.TC_BookFlight_005"/> 
	
	</classes>
	</test>	
</suite>